@{
  Layout = "_Layout";
}

<h1>Welcome to Hangman, my friend</h1>
<form action="/game" method="post">
  <div class="form-group">
    <label for="word">Enter a word for your friend to guess. You do have friends, don't you?</label>
    <input name="word" id="word" type="text">
  </div>
  <button type="submit" class="btn btn-default">Submit werd</button>
</form>
